<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/picnicss/6.0.0/picnic.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
    <title>ESGF Search</title>
</head>

<body>
<h1 class="text-center">ESGF Search</h1>
<div class="flex two center" id="query">
    <div>
        <div style="display:inline-block">
            Search
        </div>
        <div class="four-fifth" style="display:inline-block">
            <span><input class="search-param" type="text"></span>
        </div>
    </div>
</div>
</div>
<div class='flex two center' id="filter">
    <div>
        <form>
            <div class="flex two center">
                <select name='feature'>
                    <option value="Project">Project</option>
                    <option value="Model">Model</option>
                    <option value="Realm">Realm</option>
                    <option value="Ensemble">Ensemble</option>
                    <option value="Time-Frequency">Time Frequency</option>
                    <option value="Experiment">Experiment</option>
                    <option value="Experiment-Family">Experiment Family</option>
                    <option value="From">From Timestamp</option>
                    <option value="To">To Timestamp</option>
                </select>
                <div>
                    <input class="search-param" type="text">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="flex three center">
    <button type="button" id="add-button" class="button">+ Filter</button>
</div>
<div class="flex three center">
    <button type="button" id="search-button" class="button">Search</button>
</div>
<div id="results" class=""></div>

</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/core.js"
        integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/picnicss/6.0.0/plugins.min.css"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>
</html>


